@page "/"

<div class="row">
    <div class="col-6">
        <ToDoList.Shared.Components.ToDo HeaderName="Daily Task"></ToDoList.Shared.Components.ToDo>
    </div>
    <div class="col-6">
        <ToDoList.Shared.Components.ToDo HeaderName="Monthly Task"></ToDoList.Shared.Components.ToDo>
    </div>
</div>